
<section class="p-5">
    <div class="container mb-4">
        <a href="#" routerLink="/post/index" class="btn btn-outline-secondary btn-sm mb-5">Back</a>
        <h3>View Post</h3>
      
        
       
        <div>
            <strong>ID:</strong>
            <p>{{ post.id }}</p>
        </div>
       
        <div>
            <strong>Title:</strong>
            <p>{{ post.title }}</p>
        </div>
       
        <div>
            <strong>Body:</strong>
            <p>{{ post.body }}</p>
        </div>
       
    </div>
</section>
